{% extends 'layout.html' %}
{% block content %}
<head>
    <!--form css-->
		<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
</head>
<div class="contain">
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }} 
            <fieldset class="form-group">
                <legend class="border-bottom-mb-4"> Make your appointment!!</legend>
                    <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.appointment_date.label(class='form-control-label')}}
                        {{ form.appointment_date(class='form-control form-control-sm', placeholder='enter appointment_date') }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.appointment_time.label(class='form-control-label')}}
                        {{ form.appointment_time(class='form-control form-control-sm', placeholder='enter appointment_time') }}
                    </div>
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class='form-control-label')}}
                        {{ form.email(class='form-control form-control-sm', placeholder='enter email', disabled=true) }}
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.service.label(class='form-control-label')}}
                            {{ form.service(class='form-control form-control-sm', placeholder='enter service') }}
                        </div>
                        <div class="form-group col-md-6"></div>                        
                            {{ form.doctor_name.label(for="disabledTextInput", class='form-control-label')}}
                            {{ form.doctor_name(class='form-control form-control-sm', placeholder="enter doctor's name", disabled=true) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="get-quote">
                            <div class="form-group">
                                {{ form.submit(class="btn-outline-info") }}
                            </div>
                        </div>
                    </div>
            </fieldset>
        </form>
    </div>
{% endblock %}