{% extends 'layout.html' %}
{% block content %}
<head>
    <!--form css-->
		<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
</head>
<div class="contain">
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }} 
            <fieldset class="form-group">
                <legend class="border-bottom-mb-4"> Log In</legend>
                
                <div class="form-group">
                    {{ form.email.label(class='form-control-label')}}
                    {% if form.email.errors%}
                        {{ form.email(class='form-control form-control-sm is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors%}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class='form-control form-control-sm', placeholder='email') }}
                    {%endif%}
                </div>
                
                <div class="form-group">
                    {{ form.password.label(class='form-control-label')}}
                    {% if form.password.errors%}
                        {{ form.password(class='form-control form-control-sm is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors%}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(type ='password', class='form-control form-control-sm', placeholder='password') }}
                    {%endif%}
                </div>

                <div class="input-group-append">
                    <div class="input-group-text">
                        <input type="checkbox" onclick="togglePasswordVisibility('password')"> Show password
                    </div>
                </div>

                <!-- <div class="form-check">
                    {{form.remember(class='form-check-input')}}
                    {{form.remember.label(class='form-check-label')}}
                </div> -->
                
            </fieldset>
            <div class="form-group">
               {{ form.submit(class="btn-outline-info") }}
               <small class="text-muted ml-2">
                <a href="{{ url_for('reset_request')}}">forgot password?</a>
            </small>
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            don't have an account?
        </small>
        <a class="ml-4" href="{{ url_for('registration')}}"><b>Sign Up here</b></a> 
    </div>
</div>
<script>
    function togglePasswordVisibility(id) {
        var passwordInput = document.getElementById(id);
        passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
    }
</script>
{% endblock %}